.ui.cards > .card {
    margin-bottom: 1em;
}

.ui.cards > .card > .image {
    height: 200px;
    overflow: hidden;
}

.ui.cards > .card > .image img {
    height: 100%;
    object-fit: cover;
}

.logo {
    height: 30px;
    margin-right: 1em;
}

.ui.main.container {
    min-height: calc(100vh - 300px);
} 